{% if cart == empty %}
  <span class="svg-wrapper"
    ><img
      src="{{ 'icon-cart-empty.svg' | asset_url }}"
      alt="icon-cart-empty.svg icon"
      /
      width="24"
      height="24"
    >
    <!-- Example icon reference removed: 'icon-example.svg' does not exist. -->
    <!-- Use only valid icon assets such as 'icon-cart-empty.svg' or 'icon-cart.svg'. -->
    </span
  >
{% else %}
  <span class="svg-wrapper"
    ><img src="{{ 'icon-cart.svg' | asset_url }}" alt="icon-cart.svg icon" width="24" height="24">
    <!-- Removed reference to 'icon-example.svg' as it does not exist. --></span
  >
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">
      {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
    </span>
  </div>
{%- endif -%}
