{% if cart == empty %}
  <span class="svg-wrapper"><img src="{{ 'icon-cart-empty.svg' | asset_url }}" alt="icon-cart-empty.svg icon" /> ```
(This replaces every {{ 'icon-example.svg' | inline_asset_content }} with <img src="{{ 'icon-example.svg' | asset_url }}" alt="icon-example.svg icon" />)</span>
{% else %}
  <span class="svg-wrapper"><img src="{{ 'icon-cart.svg' | asset_url }}" alt="icon-cart.svg icon" /> ```
(This replaces every {{ 'icon-example.svg' | inline_asset_content }} with <img src="{{ 'icon-example.svg' | asset_url }}" alt="icon-example.svg icon" />)</span>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">
      {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
    </span>
  </div>
{%- endif -%}
